body {
    text-align: center;
    align-items: center;
}

fieldset {
    width: 50%;
    height: 40%;
    margin: 0 auto;
    border: lightcyan;
    box-shadow:0 0 2px #444;
    border-bottom-color: tan;
    place-content: center ;
    
    
}

img {
    width: 80%;
    height: 90%;
    margin: 0 auto;
}

input {
    background: aliceblue;
    border:blueviolet;
    width: 90%;
    margin: 0 auto;
    height: 30px;
    box-shadow: 0 0 2px lightcyan;
    caret-color: blue;
    
   
    
}


button {
    margin: 0 auto;
    height: 29px;
    background: blue;
    border: lightcyan;
    width: 80px;
    font: 9px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    
}

* {
    border-radius: 2px;
    place-content: center ;
}


.container-sm{
     place-content: center;
     
     
     }

a, ul{
    list-style-type: none;
    text-decoration: none;
    font-size: 13px;
    margin-left: 0;
}

.float1 {
    float: right;
    margin: 0;
    
}

.float2 {
    float: left;
    margin: 0;
    
}

button:active{
    background: darkblue;
}

@media screen and (min-width: 768px){

    fieldset {
        width: 300px;
        height: 500px;
    }
    
    img{
        margin-bottom: 50px;
    }
    
    input {
        height: 40px;
        font-size: 25px;
    }
    
    button {
        height: 36px;
        font-size: 25px;
        width: 40%;
    }
}
